* {
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
html {
  padding: 0;
  margin: 0;
}
body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 400; /* regular */
}

h1 {
  font-weight: 900; /* black */
  color: #333;
}

h2 {
  font-weight: 700; /* bold */
  color: #333;
}

strong {
  font-weight: 600; /* semi-bold */
  color: #333;
}

.light-text {
  font-weight: 100; /* thin */
  color: #333;
}
